.create-listing-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    text-align: center;
    font-size: 3rem;
    color: #caa381;
    font-weight: 800;
    margin-bottom: 40px;
}

.title {
    font-weight: 550;
}

.subject {
    margin-bottom: 40px;
}

.submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}