.login-page {
    max-width: 500px; 
    margin: 0 auto;
    padding: 20px;
}

.login-page-title {
    text-align: center;
    font-size: 3rem; 
    color: #caa381; 
    font-weight: 800;
    margin-bottom: 20px;
}

.signup-prompt {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-weight: 600;
}
