.signup-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.signup-page-title {
    text-align: center;
    font-size: 3rem;
    color: #caa381;
    font-weight: 800;
    margin-bottom: 20px;
}

.login-prompt {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-weight: 600;
}
