.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #e5dfb7;
    padding: 25px 40px;
}

.navbar img{
    display: inline-block;
    width: 80px;
    height: 80px;
}

.navbar h1 {
    display: inline-block;
    color: black;
    font-size: 2rem;
    margin: 0;
}

.navbar-logo {
    margin-right: 10px;
}

.navbar div {
    margin-left: auto; 
    display: flex;
    gap: 25px; 
    flex-direction: row; /*horizontal*/
}

/*for links*/
.navbar a { /* anchor elements - links*/
    font-size: 1rem;
    color: black;
    padding: 6px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    color: white;
}

/*for links as buttons*/
.navbar button {
    background-color: transparent;
    color:black; 
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar button:hover {
    color: white;
}